Options +MultiViews

RewriteEngine On

RewriteRule ^p/(.*)$ view.php?id=$1 [QSA,L]


# Redirect .php requests to extensionless URLs
RewriteCond %{THE_REQUEST} ^[A-Z]+\s/([^.]+)\.php [NC]
RewriteRule ^ /%1 [R=301,L]

# Internally rewrite extensionless URLs to corresponding .php files
RewriteCond %{REQUEST_FILENAME}.php -f
RewriteRule ^([^/.]+)$ $1.php [L]
