@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap");

/* ===================================================
~~~~~~~~~~~~~~~~~~~~~~~~ Root ~~~~~~~~~~~~~~~~~~~~~~~~
=================================================== */

:root {
  --ff-heading: "Poppins", sans-serif, Apple Color Emoji, Segoe UI Emoji,
    Segoe UI Symbol, Noto Color Emoji;
  --ff-body: "Poppins", sans-serif, Apple Color Emoji, Segoe UI Emoji,
    Segoe UI Symbol, Noto Color Emoji;

  --fs-d1: clamp(2.566rem, -0.1492rem + 10.8608vw, 5.96rem);
  --fs-d2: clamp(2.281rem, 0.2914rem + 7.9584vw, 4.768rem);
  --fs-d3: clamp(2.027rem, 0.5966rem + 5.7216vw, 3.815rem);
  --fs-1: clamp(1.802rem, 0.802rem + 4vw, 3.052rem);
  --fs-2: clamp(1.602rem, 0.9308rem + 2.6848vw, 2.441rem);
  --fs-3: clamp(1.424rem, 1.0008rem + 1.6928vw, 1.953rem);
  --fs-4: clamp(1.266rem, 1.0284rem + 0.9504vw, 1.563rem);
  --fs-5: clamp(1.125rem, 1.025rem + 0.4vw, 1.25rem);
  --fs-6: clamp(1rem, 1rem + 0vw, 1rem);
  --fs-regular: clamp(0.875rem, 0.8158rem + 0.2105vw, 1rem);
  --fs-small: clamp(0.875rem, 0.875rem + 0vw, 0.875rem);
  --fs-xsmall: clamp(0.625rem, 0.5465rem + 0.2326vw, 0.75rem);

  /* --fw-thin: 200; */
  --fw-light: 300;
  --fw-regular: 400;
  --fw-medium: 500;
  --fw-semibold: 600;
  --fw-bold: 700;
  /* --fw-extrabold: 700; */
  /* --fw-black: 700; */

  --clr-pri-400: hsl(188, 56%, 83%);
  --clr-sec-400: hsl(19, 93%, 58%);
  --clr-tri-400: hsl(76, 100%, 73%);
  --clr-purp:#bf5fff;

  --clr-gray-100: hsl(200, 18%, 97%);
  --clr-gray-200: hsl(0, 0%, 90%);
  --clr-gray-300: hsl(0, 0%, 75%);
  --clr-gray-400: hsl(0, 0%, 50%);
  --clr-gray-500: hsl(0, 0%, 35%);
  --clr-gray-600: hsl(0, 0%, 10%);

  --clr-dark: hsl(0, 0%, 15%);
  --clr-black1: #000;
  --clr-black2: linear-gradient(180deg, #171717, #171717);
  --clr-light: hsl(0, 0%, 100%);

  --clr-heading: var(--clr-dark);
  --clr-paragraph: var(--clr-dark);

  --clr-shadow-300: hsl(0, 0%, 15%, 0.25);
  --clr-shadow-400: hsl(0, 0%, 15%, 0.5);
  --clr-shadow-500: hsl(0, 0%, 15%, 0.75);

  --gap-small: clamp(1rem, 2vw, 24px);
  --gap-large: clamp(2rem, 1rem + 2.6667vw, 3rem);
  --gap-left-25: clamp(0rem, -44.4444rem + 92.5926vw, 25%);

  --spacing-2: clamp(1.2rem, 0.8211rem + 1.3474vw, 2rem);
  --spacing-3: clamp(1.5rem, 0.7895rem + 2.5263vw, 3rem);
  --spacing-4: clamp(2rem, 1.0526rem + 3.3684vw, 4rem);
  --spacing-5: clamp(2.5rem, 1.3158rem + 4.2105vw, 5rem);
  --spacing-8: clamp(4rem, 2.1053rem + 6.7368vw, 8rem);
  --spacing-10: clamp(5rem, 2.6316rem + 8.4211vw, 10rem);

  --shadow-small: 0 0.125rem 0.25rem var(--clr-shadow-400);
  --shadow-medium: 0 0.5rem 1rem var(--clr-shadow-400);
  --shadow-large: 0 1rem 3rem var(--clr-shadow-400);
}

/* ===================================================
~~~~~~~~~~~~~~~~~~~~~~ Selection ~~~~~~~~~~~~~~~~~~~~~
=================================================== */

::-moz-selection {
  color: var(--clr-light);
  background: var(--clr-pri-400);
}

::selection {
  color: var(--clr-light);
  background: var(--clr-pri-400);
}

/* ===================================================
~~~~~~~~~~~~~~~~~~~ Responsive width ~~~~~~~~~~~~~~~~~
=================================================== */
.container {
  --width__screen: 100%;
  --width__laptops: 1400px;
  --width__blogs: 1100px;
  --padding: 1rem;

  width: min(var(--width__screen), 100% - (var(--padding) * 4));
  margin-inline: auto;
}

@media only screen and (max-width: 1200px) {
  .container {
    max-width: 1100px;
  }
}

@media only screen and (max-width: 992px) {
  .container {
    max-width: 960px;
  }
}

@media only screen and (max-width: 768px) {
  .container {
    max-width: 750px;
  }

  #section-3 > div:nth-child(1) {
    order: 2 !important;
  }
}

@media only screen and (max-width: 576px) {
  .container {
    max-width: 540px;
  }

}

/* ===================================================
~~~~~~~~~~~~~~~~~~ Set Core Defaults ~~~~~~~~~~~~~~~~~
=================================================== */

*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

* {
  margin: 0;
  padding: 0;
  font-family: var(--ff-body);
}

html:focus-within {
  scroll-behavior: smooth;
}

body {
  overflow-x: hidden;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
  background: var(--clr-dark);
}

ul[role="list"],
ol[role="list"] {
  list-style: none;
}

img,
picture,
svg {
  max-width: 100%;
  display: block;
}

@media (prefers-reduced-motion: media) {
  html:focus-within {
    scroll-behavior: auto;
  }

  *,
  *::before,
  ::after {
    -webkit-animation-duration: 0.01ms !important;
    animation-duration: 0.01ms !important;
    -webkit-animation-iteration-count: 1 !important;
    animation-iteration-count: 1 !important;
    -webkit-transition-duration: 0.01ms !important;
    -o-transition-duration: 0.01ms !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

/* ===================================================
~~~~~~~~~~~~~~~~~~~~~~ Utility's ~~~~~~~~~~~~~~~~~~~~~
=================================================== */

.d1,
.d2,
.d3,
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--ff-heading);
  font-weight: var(--fw-semibold);
  color: var(--clr-heading);
}

.d1 {
  font-size: var(--fs-d1);
  line-height: calc(var(--fs-d1) * 1);
}

.d2 {
  font-size: var(--fs-d2);
  line-height: calc(var(--fs-d2) * 1);
}

.d3 {
  font-size: var(--fs-d3);
  line-height: calc(var(--fs-d3) * 1);
}

h1 {
  font-size: var(--fs-1);
  line-height: calc(var(--fs-1) * 1.2);
}

h2 {
  font-size: var(--fs-2);
  line-height: calc(var(--fs-2) * 1.2);
}

h3 {
  font-size: var(--fs-3);
  line-height: calc(var(--fs-3) * 1.2);
}

h4 {
  font-size: var(--fs-4);
  line-height: calc(var(--fs-4) * 1.2);
}

h5 {
  font-size: var(--fs-5);
  line-height: calc(var(--fs-5) * 1.2);
}

h6 {
  font-size: var(--fs-6);
  line-height: calc(var(--fs-6) * 1.2);
}

p{
  font-size: var(--fs-regular);
  font-weight: var(--fw-regular);
  color: var(--clr-paragraph);
}

a {
  text-decoration: none;
  font-size: var(--fs-regular);
  font-weight: var(--fw-medium);
  color: var(--clr-light);
}

input,
label {
  font-size: var(--fs-regular);
  font-weight: var(--fw-regular);
  color: var(--clr-paragraph);
}

.py-2 {
  padding-block: var(--spacing-2);
}

.py-3 {
  padding-block: var(--spacing-3);
}

.py-4 {
  padding-block: var(--spacing-4);
}

.py-5 {
  padding-block: var(--spacing-5);
}

.py-8 {
  padding-block: var(--spacing-8);
}

.py-10 {
  padding-block: var(--spacing-10);
}

.pb-2 {
  padding-bottom: var(--spacing-2);
}

.pb-3 {
  padding-bottom: var(--spacing-3);
}

.pb-4 {
  padding-bottom: var(--spacing-4);
}

.pb-5 {
  padding-bottom: var(--spacing-5);
}

.pb-8 {
  padding-bottom: var(--spacing-8);
}

.pb-10 {
  padding-bottom: var(--spacing-10);
}

.pt-2 {
  padding-top: var(--spacing-2);
}

.pt-3 {
  padding-top: var(--spacing-3);
}

.pt-4 {
  padding-top: var(--spacing-4);
}

.pt-5 {
  padding-top: var(--spacing-5);
}

.pt-8 {
  padding-top: var(--spacing-8);
}

.pt-10 {
  padding-top: var(--spacing-10);
}

.flow * + * {
  margin-top: clamp(1.5rem, 1.28rem + 0.64vw, 2rem);
}

.pe-none {
  pointer-events: none !important;
}

.user-select-none {
  -webkit-user-select: none !important;
  -moz-user-select: none !important;
  -ms-user-select: none !important;
  user-select: none !important;
}

.logo {
    width: 15em;
    height: 6em;
}

/* ===================================================
~~~~~~~~~~~~~~~~~~~~ Custom Style ~~~~~~~~~~~~~~~~~~~~
=================================================== */

/* ~~~~ Scrollbar ~~~~ */
html {
  scrollbar-width: normal;
  scrollbar-color: var(--clr-dark) var(--clr-light);
}

html::-webkit-scrollbar {
  width: clamp(0.5rem, 0.6rem + 0.2667vw, 1rem);
}

html::-webkit-scrollbar-thumb {
  background-color: var(--clr-dark);
  border-radius: 100vw;
  border: 2px solid var(--clr-purp);
}

html::-webkit-scrollbar-track {
  display: none;
}

/* ~~~~ Cursor ~~~~ */

/* ~~~~ Swiper ~~~~ */

/* ~~~~ Link ~~~~ */

.link:hover {
  color: var(--clr-purp);
}

/* ~~~~ Button ~~~~ */

.button {
  border: none;
  outline: none;
  cursor: pointer;
  width: 100%;
  display: grid;
  justify-content: center;
  position: relative;
  background: var(--clr-dark);
  border: 1px solid var(--clr-dark);
  white-space: nowrap;
  overflow: hidden;
}

.button p {
  padding: 0.75rem var(--spacing-5);
  mix-blend-mode: difference;
  color: var(--clr-light);
  font-family: var(--ff-body);
  text-transform: uppercase;
  font-weight: var(--fw-medium);
  font-size: var(--fs-regular);
  letter-spacing: 1px;
}

.button .button__bg {
  top: 0;
  left: 0;
  position: absolute;
  width: 100%;
  height: 100%;
  transition: transform 0.3s ease-in-out;
}

.button .button__bg::before {
  content: "";
  position: absolute;
  left: -200%;
  width: 150%;
  height: 0;
  padding-bottom: 110%;
  background: var(--clr-light);
  transition: transform 0.3s ease-in-out;
}

.button:hover .button__bg::before {
  transform: translate(110%, -50%) scale(1, 1);
}

.button[data-type="inverted"] {
  background: var(--clr-light);
}

.button[data-type="inverted"] p {
  color: var(--clr-light);
}

.button[data-type="inverted"] .button__bg::before {
  background: var(--clr-dark);
}

/* ~~~~ Button with icon ~~~~ */
.button-icon {
  display: flex;
  gap: 0.5rem;
  align-items: center;
  justify-content: center;
  font-weight: var(--fw-regular);
  color: var(--clr-gray-600);
  background-color: var(--clr-gray-200);
  padding: 0.625rem 1.25rem;
  border-radius: 0.5rem;
  transition: all 0.3s ease;
  white-space: nowrap;
  width: fit-content;
}

.button-icon i {
  font-size: 1rem;
  font-weight: var(--fw-regular);
  display: grid;
  place-content: center;
  transition: transform 0.3s cubic-bezier(0.47, 0, 0.745, 0.715);
}

.button-icon:hover {
  color: var(--clr-gray-200);
  background-color: var(--clr-gray-600);
}

.button-icon:hover i {
  color: var(--clr-gray-200);
  transform: translateX(10px);
}

input {
  flex: 1;
  padding: 0.65rem;
  border-radius: 0;
  border: 1px solid var(--clr-dark);
}

form input:focus,
form textarea:focus,
form select:focus {
  outline: none;
}

/* ~~~~ Line ~~~~ */
.line {
  max-width: 100%;
  border-bottom: 1px solid var(--clr-gray-200);
}

.line[data-type="inverted"] {
  max-width: 100%;
  border-bottom: 1px solid var(--clr-light);
}

/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
~~~~~~~~~~~~~~~~~~~~ Archive ~~~~~~~~~~~~~~~~~~~~
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */

/* ~~~~ Navbar ~~~~ */
nav {
  display: flex;
  gap: var(--spacing-2);
  align-items: center;
  justify-content: space-between;
  position: relative;
  overflow: hidden;
}

header {
  /* border-bottom: 1px solid var(--clr-purp); */
  display: flex;
  align-items: center;
  background:#000;
}

#nav-logo h1 {
  font-size: var(--fs-3);
  font-weight: var(--fw-bold);
  text-transform: uppercase;
}
.hamburger {
    width: 2em;
    height: 2em;
    position: absolute;
    top: 2em;
    right: 2em;
    z-index: 10000;
    background: transparent;
    cursor: pointer;
}

    .hamburger.is-active .hamburger--container .hamburger--bars {
        background: var(--clr-light);
    }

        .hamburger.is-active .hamburger--container .hamburger--bars:before, .hamburger.is-active .hamburger--container .hamburger--bars:after {
            background: var(--clr-light);
        }

        .hamburger.is-active .hamburger--container .hamburger--bars:before {
            left: 0.25em;
        }

        .hamburger.is-active .hamburger--container .hamburger--bars:after {
            left: -0.25em;
        }

    .hamburger .hamburger--container {
        width: 100%;
        padding: 0.25em;
        position: relative;
    }

        .hamburger .hamburger--container .hamburger--bars {
            height: 3px;
            width: 1.5em;
            background: var(--clr-purp);
            position: absolute;
            top: 0.9em;
            transition: 0.3s ease;
        }

            .hamburger .hamburger--container .hamburger--bars:before, .hamburger .hamburger--container .hamburger--bars:after {
                content: "";
                display: block;
                height: 3px;
                width: 1.5em;
                background: inherit;
                position: absolute;
                left: 0;
                transition: 0.3s ease;
            }

            .hamburger .hamburger--container .hamburger--bars:before {
                top: -0.5em;
            }

            .hamburger .hamburger--container .hamburger--bars:after {
                top: 0.5em;
            }

.fsmenu {
    width: 100vw;
    height: 100vh;
    position: absolute;
    top: 0;
    right: 0;
    z-index: 1000;
    overflow: hidden;
    display: none;
}

    .fsmenu .fsmenu--container {
        width: 0;
        height: 100vh;
        padding: 8em 3em 3em;
        background: #000;
        position: absolute;
        right: 0;
        overflow: hidden;
    }

        .fsmenu .fsmenu--container .fsmenu--text-block {
            width: 100%;
            height: 100%;
        }

            .fsmenu .fsmenu--container .fsmenu--text-block .fsmenu--text-container {
                width: 100%;
                height: 100%;
            }

                .fsmenu .fsmenu--container .fsmenu--text-block .fsmenu--text-container .fsmenu--list {
                    width: 100%;
                    height: 100%;
                    display: flex;
                    flex-direction: column;
                }

                    .fsmenu .fsmenu--container .fsmenu--text-block .fsmenu--text-container .fsmenu--list .fsmenu--list-element {
                        width: 100%;
                        height: 25%;
                        list-style-type: none;
                        text-align: right;
                    }

                        .fsmenu .fsmenu--container .fsmenu--text-block .fsmenu--text-container .fsmenu--list .fsmenu--list-element a {
                            width: 100%;
                            height: 100%;
                            text-decoration: none;
                            color: var( --clr-gray-300);
                            display: flex;
                            justify-content: flex-end;
                            align-items: center;
                            transition: 0.2s ease;
                        }

                            .fsmenu .fsmenu--container .fsmenu--text-block .fsmenu--text-container .fsmenu--list .fsmenu--list-element a:hover {
                                /*  color: #E63946;*/
                                color: var(--clr-purp);
                            }

                            .fsmenu .fsmenu--container .fsmenu--text-block .fsmenu--text-container .fsmenu--list .fsmenu--list-element a span {
                                font-size: 2em;
                                font-weight: 900;
                                letter-spacing: 10px;
                                text-transform: uppercase;
                                line-height: 1;
                                height: 1em;
                                display: inline-block;
                                position: relative;
                                z-index: 1002;
                            }

                                .fsmenu .fsmenu--container .fsmenu--text-block .fsmenu--text-container .fsmenu--list .fsmenu--list-element a span:before {
                                    content: "";
                                    display: block;
                                    width: 100%;
                                    height: 100%;
                                    background: var(--clr-light);
                                    position: absolute;
                                    left: 0;
                                    z-index: 1003;
                                }

                        .fsmenu .fsmenu--container .fsmenu--text-block .fsmenu--text-container .fsmenu--list .fsmenu--list-element .fsmenu--scrolling-text {
                            height: 100%;
                            display: flex;
                            align-items: center;
                            transform: translate(-20%, -100%);
                            opacity: 0;
                            pointer-events: none;
                        }

                            .fsmenu .fsmenu--container .fsmenu--text-block .fsmenu--text-container .fsmenu--list .fsmenu--list-element .fsmenu--scrolling-text span {
                                height: 1em;
                                font-size: 8em;
                                font-weight: 900;
                                letter-spacing: 10px;
                                text-transform: uppercase;
                                line-height: 1;
                                color: #1e1e1e;
                                display: inline-block;
                                margin-right: 1em;
                            }

                        .fsmenu .fsmenu--container .fsmenu--text-block .fsmenu--text-container .fsmenu--list .fsmenu--list-element:hover .fsmenu--scrolling-text {
                            opacity: 1;
                            -webkit-animation: animScrollingContactTextLeft 9s linear 0s infinite;
                            animation: animScrollingContactTextLeft 9s linear 0s infinite;
                        }

                        .fsmenu .fsmenu--container .fsmenu--text-block .fsmenu--text-container .fsmenu--list .fsmenu--list-element .fsmenu--link-img {
                            width: 0px;
                            height: 100vh;
                            padding: 8em 3em 3em;
                            position: absolute;
                            top: 0;
                            right: calc(100vw - 720px);
                            z-index: 1001;
                            font-size: 16px;
                            pointer-events: none;
                        }

                            .fsmenu .fsmenu--container .fsmenu--text-block .fsmenu--text-container .fsmenu--list .fsmenu--list-element .fsmenu--link-img .fsmenu--img-container {
                                height: 100%;
                                width: 100%;
                                position: relative;
                                overflow: hidden;
                            }

                                .fsmenu .fsmenu--container .fsmenu--text-block .fsmenu--text-container .fsmenu--list .fsmenu--list-element .fsmenu--link-img .fsmenu--img-container img {
                                    width: 624px;
                                    display: block;
                                    position: absolute;
                                    right: 0;
                                    top: 50%;
                                    transform: translate(0, -50%);
                                }

                        .fsmenu .fsmenu--container .fsmenu--text-block .fsmenu--text-container .fsmenu--list .fsmenu--list-element.open .fsmenu--link-img {
                            left: auto;
                            right: calc(100vw - 720px);
                            -webkit-animation: animMenuRevealImg 0.4s ease 0s forwards;
                            animation: animMenuRevealImg 0.4s ease 0s forwards;
                        }

                            .fsmenu .fsmenu--container .fsmenu--text-block .fsmenu--text-container .fsmenu--list .fsmenu--list-element.open .fsmenu--link-img .fsmenu--img-container img {
                                right: 0;
                                left: auto;
                            }

                        .fsmenu .fsmenu--container .fsmenu--text-block .fsmenu--text-container .fsmenu--list .fsmenu--list-element.is-closing .fsmenu--link-img {
                            left: 0;
                            right: auto;
                            -webkit-animation: animMenuCloseImg 0.4s ease 0s forwards;
                            animation: animMenuCloseImg 0.4s ease 0s forwards;
                        }

                            .fsmenu .fsmenu--container .fsmenu--text-block .fsmenu--text-container .fsmenu--list .fsmenu--list-element.is-closing .fsmenu--link-img .fsmenu--img-container img {
                                left: 0;
                                right: auto;
                            }

    .fsmenu.is-active {
        display: block;
    }

        .fsmenu.is-active .fsmenu--container {
            -webkit-animation: animMenuReveal 0.6s cubic-bezier(0.13, 0.13, 0.02, 1.07) 0s forwards;
            animation: animMenuReveal 0.6s cubic-bezier(0.13, 0.13, 0.02, 1.07) 0s forwards;
        }

            .fsmenu.is-active .fsmenu--container .fsmenu--text-container .fsmenu--list .fsmenu--list-element a span:before {
                -webkit-animation: animMenuRevealLinks 0.4s cubic-bezier(0.13, 0.13, 0.02, 1.07) 0.4s forwards;
                animation: animMenuRevealLinks 0.4s cubic-bezier(0.13, 0.13, 0.02, 1.07) 0.4s forwards;
            }

    .fsmenu.close-menu {
        /*display: block;*/
        display: none;
    }

        .fsmenu.close-menu .fsmenu--container {
            width: 100vw;
            right: auto;
            left: 0;
            -webkit-animation: animMenuClose 0.6s cubic-bezier(0.13, 0.13, 0.02, 1.07) 0.3s forwards;
            animation: animMenuClose 0.6s cubic-bezier(0.13, 0.13, 0.02, 1.07) 0.3s forwards;
        }

            .fsmenu.close-menu .fsmenu--container .fsmenu--text-container .fsmenu--list .fsmenu--list-element a span:before {
                left: auto;
                right: 0;
                background: black;
                -webkit-animation: animMenuCloseLinks 0.4s cubic-bezier(0.13, 0.13, 0.02, 1.07) 0s forwards;
                animation: animMenuCloseLinks 0.4s cubic-bezier(0.13, 0.13, 0.02, 1.07) 0s forwards;
            }

@-webkit-keyframes animMenuReveal {
    0% {
        width: 0vw;
    }

    100% {
        width: 100vw;
    }
}

@keyframes animMenuReveal {
    0% {
        width: 0vw;
    }

    100% {
        width: 100vw;
    }
}

@-webkit-keyframes animMenuRevealLinks {
    0% {
        width: 100%;
    }

    100% {
        width: 0%;
    }
}

@keyframes animMenuRevealLinks {
    0% {
        width: 100%;
    }

    100% {
        width: 0%;
    }
}

@-webkit-keyframes animMenuClose {
    0% {
        width: 100vw;
        padding: 8em 3em 3em;
    }

    100% {
        width: 0vw;
        padding: 8em 0 0;
    }
}

@keyframes animMenuClose {
    0% {
        width: 100vw;
        padding: 8em 3em 3em;
    }

    100% {
        width: 0vw;
        padding: 8em 0 0;
    }
}

@-webkit-keyframes animMenuCloseLinks {
    0% {
        width: 0%;
    }

    100% {
        width: 110%;
    }
}

@keyframes animMenuCloseLinks {
    0% {
        width: 0%;
    }

    100% {
        width: 110%;
    }
}

@-webkit-keyframes animMenuRevealImg {
    0% {
        width: 0;
    }

    100% {
        width: 720px;
    }
}

@keyframes animMenuRevealImg {
    0% {
        width: 0;
    }

    100% {
        width: 720px;
    }
}

@-webkit-keyframes animMenuCloseImg {
    0% {
        width: 720px;
    }

    100% {
        width: 0;
    }
}

@keyframes animMenuCloseImg {
    0% {
        width: 720px;
    }

    100% {
        width: 0;
    }
}

@-webkit-keyframes animScrollingContactTextLeft {
    0% {
        transform: translate(-20%, -100%);
    }

    100% {
        transform: translate(-40%, -100%);
    }
}

@keyframes animScrollingContactTextLeft {
    0% {
        transform: translate(-20%, -100%);
    }

    100% {
        transform: translate(-40%, -100%);
    }
}



/* ~~~~ Footer ~~~~ */
footer {
  background: var(--clr-dark);
}

footer .copy-tag {
    color: var(--clr-purp);
  text-align: center;
}

.copy-tag a{
  font-size: var(--fs-5);
  color:var(--clr-dark);background:var(--clr-light); border-radius: 5px; padding: 5px;
}

#footer #nav-logo {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

#footer .social-icon {
  display: flex;
  gap: 1rem;
}

#footer .social-icon i {
  display: grid;
  aspect-ratio: 1/1;
  place-content: center;
  padding: calc(var(--spacing-2) / 4);
  background: var(--clr-dark);
  border-radius: 100vw;
  font-size: var(--fs-4);
  color: var(--clr-purp);
}

/* ===================================================
~~~~~~~~~~~~~~~~~~~ Landing Section  ~~~~~~~~~~~~~~~~~
=================================================== */
#landing-section {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(min(400px, 100%), 1fr));
  background-color: var(--clr-purp);
}

#landing-section .column_1 {
  width: 100%;
  height: clamp(35vh, 30vh + 20vw, 60vh);
  object-fit: cover;
  object-position: center;
}

#landing-section .column_2 {
  padding: var(--spacing-3);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.column_2b {
  display: grid;
  gap: 1rem;
}

.column_2b div {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1rem;
}

/* ===================================================
~~~~~~~~~~~~~~~~~~~~~~ Our Work ~~~~~~~~~~~~~~~~~~~~~~
=================================================== */
#our-work {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(min(576px, 100%), 1fr));
}

#our-work .column_1 h1{
    color: var(--clr-purp);
  }

#our-work .column_1 p{
  max-width: 80ch;
  color: var(--clr-light);
}

#our-work .column_2 {
  display: grid;
}

.column_2 .work-cont {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
}

.column_2 .work-cont .work-list {
  padding: var(--spacing-3);
  display: grid;
  background: var(--clr-gray-100);
  place-items: center;
  border-left: 1px solid var(--clr-gray-200);
  border-top: 1px solid var(--clr-gray-200);
}


.column_2 .work-icon {
  padding: var(--spacing-2);
  background: var(--clr-sec-400);
  color: var(--clr-light);
  border-radius: 100vw;
  font-size: var(--fs-4);
  width: fit-content;
  display: grid;
  place-content: center;
}

.column_2 .work-cont .work-list:hover {
  background: var(--clr-light);
}

.column_2 .button-cont {
    background: var(--clr-gray-100);
  padding: var(--spacing-2);
  border: 1px solid var(--clr-gray-200);
}

/* ===================================================
~~~~~~~~~~~~~~~~~~~~~~ Section 3 ~~~~~~~~~~~~~~~~~~~~~
=================================================== */
#section-3 {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(min(400px, 100%), 1fr));
  background: var(--clr-purp);
  overflow: hidden;
}

#section-3 .row_1 {
  display: flex;
  gap: 1rem;
}

#section-3 .title p {
  max-width: 80ch;
}

.profile-cont {
  display: flex;
  height: 40px;
  gap: 0.5rem;
  align-items: center;
  padding: 0.5rem;
  background: var(--clr-gray-200);
  border: 1px solid var(--clr-gray-300);
  border-radius: 0.5rem;
}

.profile-cont img {
  aspect-ratio: 1/1;
  height: 100%;
  border-radius: 0.5rem;
  object-fit: cover;
}

.profile-cont p {
  font-weight: var(--fw-medium);
}

#section-3 .img-cont {
  overflow: hidden;
}

#section-3 .img-cont img {
  transform: scale(1.5);
}

/* ===================================================
~~~~~~~~~~~~~~~~~~~~~~ Section 4 ~~~~~~~~~~~~~~~~~~~~~
=================================================== */
#section-4 .section-4-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

#section-4 h1{
 color: var(--clr-purp);
}

#section-4 h4{
  color: var(--clr-gray-300);
 }

span.swiper-pagination-bullet {
  background-color: var(--clr-sec-400);
  width: 15px;
  border-radius: 100vw;
}

.custom-swiper-pagination.swiper-pagination-clickable.swiper-pagination-bullets.swiper-pagination-horizontal {
  display: flex;
  justify-content: flex-end;
  width: fit-content;
}

.swiper {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  display: grid;
  overflow: hidden;
  gap: 0.5rem;
  position: relative;
}

.swiper-slide > div {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.swiper-slide > div > * {
  display: flex;
  justify-content: center;
  flex: 1;
  font-weight: var(--fw-medium);
}

.swiper-slide img {
  height: 100%;
  aspect-ratio: 1/1;
  object-fit: cover;
  object-position: center;
  border-radius: 0.5rem;
}

/* ===================================================
~~~~~~~~~~~~~~~~~~~~~~ Newsletter ~~~~~~~~~~~~~~~~~~~~
=================================================== */
#newsletter {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(min(400px, 100%), 1fr));
}

#newsletter .column_1 {
  background: var(--clr-purp);
}

#newsletter .column_2 {
  background: var(--clr-pri-400);
}

#newsletter .column_1 h1,
#newsletter .column_1 p {
  color: var(--clr-light);
}

#newsletter .column_1 p {
  max-width: 60ch;
}

#newsletter .column_1 div,
#newsletter .column_2 div {
  height: 100%;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  justify-content: space-between;
}

#newsletter .column_2 div form {
  display: grid;
  gap: 0.5rem;
}

#newsletter .column_2 form div {
  display: flex;
  gap: 0.5rem;
}


#scroll {
  position: fixed;
  right: 10px;
  bottom: 10px;
  cursor: pointer;
  width: 50px;
  height: 50px;
  background-color: var(--clr-purp);
  text-indent: -9999px;
  display: none;
  -webkit-border-radius: 60px;
  -moz-border-radius: 60px;
  border-radius: 60px;
  z-index:5000;
}

  #scroll span {
      position: absolute;
      top: 50%;
      left: 50%;
      margin-left: -8px;
      margin-top: -12px;
      height: 0;
      width: 0;
      border: 8px solid transparent;
      border-bottom-color: #000;
  }

  #scroll:hover {
      background-color: var(--clr-pri-400);
  }

/* ===================================================
~~~~~~~~~~~~~~~~~~ Info&Updates Page ~~~~~~~~~~~~~~~~~
=================================================== */

.credentials-box {
  width: 100%;
  max-width: 500px;
  /*  position: relative;*/
}

  .credentials-box input, .credentials-box select, .credentials-box textarea {
      background-color: rgba(1, 1, 1, .3);
      color: var(--clr-light);
      padding: 15px;
      border: none;
      outline: none;
      font-size: 20px;
      font-weight: 600;
      border-radius: 3px;
      width: 100%;
      margin: 1rem 0 1rem 0;
      transition: width .3s;
      position: relative;
      display: inline-block;
      vertical-align: top;
  }

  .credentials-box ::placeholder{
      color:var(--clr-dark)!important;
      font-size: 20px;
      font-weight: 600;
  }

  .credentials-box label {
    padding:0 30px 0 0;
    color: var(--clr-pri-400);
    font-weight: var(--fw-semibold);
  }

.hidden {
  display: none;
}


.button-colordot {
  border: 0;
  outline: 0;
  position: relative;
  margin: auto;
  margin-top: 20px;
  padding: 19px 22px;
  transition: all 0.2s ease;
  color: var(--clr-light);
  background-color: transparent;
}

  .button-colordot:before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      display: block;
      border-radius: 28px;
      background: var(--clr-dark);
      width: 56px;
      height: 56px;
      transition: all 0.3s ease;
  }

  .button-colordot span {
      position: relative;
      font-size: 16px;
      line-height: 18px;
      font-weight: 900;
      letter-spacing: 0.25em;
      text-transform: uppercase;
      vertical-align: middle;
  }

  .button-colordot svg {
      position: relative;
      top: 0;
      margin-left: 10px;
      fill: none;
      stroke-linecap: round;
      stroke-linejoin: round;
      stroke: #fff;
      stroke-width: 2;
      transform: translateX(-5px);
      transition: all 0.3s ease;
  }

  .button-colordot:hover:before {
      width: 100%;
      background: var(--clr-dark);
  }

  .button-colordot:hover svg {
      transform: translateX(0);
  }

  .button-colordot:active {
      transform: scale(0.96);
  }



  .blog-card-button {
      margin: 0;
      background: var(--clr-purp);
      padding: 1em 2em;
      border-radius: 2em;
      color: var(--clr-dark);
      display: inline-block;
      text-transform: uppercase;
      letter-spacing: 0.16em;
      font-size: .8em;
      font-weight: 700;
      cursor: pointer;
      transition: 0.3s ease;
  }
     
      .blog-card-button:hover {
          color: var(--clr-dark);
          background: var(--clr-light);
      }
  
      .blog-card-button i {
          margin-right: 0.5em;
          opacity: 0.4;
      }
  
      .blog-card-container {
          width: 100%;
          max-width: 1180px;
          margin: 3rem auto;
          margin-bottom: 3rem;
          padding: 0 2em;
      }
  
      .blog-cards {
          display: flex;
          flex-wrap: wrap;
          margin-left: -1rem;
          margin-right: -1rem;
          margin-bottom: -2rem;
      }
  
      .blog-card {
          display: flex;
          flex-direction: column;
          width: calc(100% - 2em);
          background:rgba(1, 1, 1, .3);
          position: relative;
          border-radius: 15px;
          overflow: hidden;
          margin-bottom: 2em;
          margin: 0 1em 2em;
      }
  
          .blog-card a.blog-card-button {
              text-decoration: none;
          }
  
      @media (min-width: 700px) {
          .blog-cards[data-view=grid-view] .blog-card {
              float: left;
              width: calc( 50% - 2em);
          }
  
              .blog-cards[data-view=grid-view] .blog-card:nth-child(3) {
                  clear: both;
              }
  
              .blog-cards[data-view=grid-view] .blog-card:nth-child(4) {
                  clear: initial;
              }
      }
  
      @media (min-width: 1000px) {
          .blog-cards[data-view=grid-view] .blog-card {
              width: calc( (100% / 3) - 2em);
          }
  
              .blog-cards[data-view=grid-view] .blog-card:nth-child(3) {
                  clear: initial;
              }
  
              .blog-cards[data-view=grid-view] .blog-card:nth-child(4) {
                  clear: both;
              }
      }
  
  
    
      .blog-card__content {
          padding: 2em;
          display: flex;
          flex-direction: column;
          justify-content: space-between;
          height: 100%;
      }
  
      .blog-card__category {
          color: var(--clr-light);
          text-transform: uppercase;
          letter-spacing: 2px;
          font-size: 13px;
          margin: 0 0 2em;
          display: block;
      }
  
          .blog-card__category::before {
              content: "| ";
              color: #386696;
          }
  
      .blog-card__title {
          line-height: 1;
          margin: 0 0 0.5em;
          font-size: 18px;
      }

      .blog-card__title a{
          font-size: 20px;
          font-weight:600;
          color: #8A2387;
          -webkit-text-fill-color: transparent;
          text-fill-color: transparent;
          background: -webkit-linear-gradient(to right, #F27121, #E94057, #8A2387);  /* Chrome 10-25, Safari 5.1-6 */
          background: linear-gradient(to right, #F27121, #E94057, #8A2387); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
          background-position: right center;
          background-size: 400% auto;
          background-clip: text;
          -webkit-background-clip: text;
          transition: background-position 1000ms ease-out;                
      }
      
      .blog-card__title a:hover {
          background-position: left center;
        }
  
      .blog-card__description {
          line-height: 1.5;
          padding: 0;
          margin: 0 0 1.5em;
          clear: both;
          color: var( --clr-gray-300);
          font-size: 16px;
      }
          
        .pagination ul{
          margin: 0;
          padding: 0;
          list-style-type: none;
        }
        
        .pagination a{
          display: inline-block;
          padding: 10px 18px;
          color: var(--clr-purp);
        }
        
      
      .p12 a:first-of-type, .p12 a:last-of-type, .p12 .is-active{
          border-radius: 20px;
          background-color: var(--clr-purp);
          color: #fff;
          font-weight: bold;
        }
        

        
.click-me {
  -webkit-transition: all 0.35s ease-in-out;
  -moz-transition: all 0.35s ease-in-out;
  transition: all 0.35s ease-in-out;
   border-radius:5px;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  -webkit-box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.3);
  box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.3);
  height: 55px;
  width:50%;
  line-height: 15px;
  font-size: 20px;
  padding: 10px;
  border: 0;
  color: #fff;
  text-align: center;
  background: var(--clr-sec-400);
  cursor: pointer;
  border: 1px solid  var(--clr-sec-400);
  -moz-animation: shakeme 3s infinite;
  -o-animation: shakeme 3s infinite;
  -webkit-animation: shakeme 3s infinite;
  animation: shakeme 3s infinite;
}
.click-me:hover {
  font-size: 24px;
  background: var(--clr-purp);
  border: 1px solid var(--clr-purp);
  color: #fff;
}
@keyframes shakeme {
  0% {
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    -o-transform: scale(1);
  }
  5% {
    -webkit-transform: scale(0.7);
    -moz-transform: scale(0.7);
    -ms-transform: scale(0.7);
    -o-transform: scale(0.7);
  }
  10% {
    -webkit-transform: scale(1.5);
    -moz-transform: scale(1.5);
    -ms-transform: scale(1.5);
    -o-transform: scale(1.5);
  }
  15% {
    -webkit-transform: scale(1.1);
    -moz-transform: scale(1.1);
    -ms-transform: scale(1.1);
    -o-transform: scale(1.1);
  }
  20% {
    -webkit-transform: scale(1.4);
    -moz-transform: scale(1.4);
    -ms-transform: scale(1.4);
    -o-transform: scale(1.4);
  }
  30% {
    -webkit-transform: scale(1.1);
    -moz-transform: scale(1.1);
    -ms-transform: scale(1.1);
    -o-transform: scale(1.1);
  }
}



/* ===================================================
~~~~~~~~~~~~~~~~~~ Cards ~~~~~~~~~~~~~~~~~
=================================================== */
.card img {
  max-width: 100%;
  display: block;
}

.card-list {
  width: 90%;
  max-width: 400px;
}

.card {
  background-color: var(--clr-gray-200);
  box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.05), 0 20px 50px 0 rgba(0, 0, 0, 0.1);
  border-radius: 15px;
  overflow: hidden;
  padding: 1.25rem;
  position: relative;
  transition: 0.15s ease-in;
}

  .card:hover,
  .card:focus-within {
      box-shadow: 0 0 0 2px #16C79A, 0 10px 60px 0 rgba(0, 0, 0, 0.1);
      transform: translatey(-5px);
  }

.card-image {
  border-radius: 10px;
  overflow: hidden;
}

@media only screen and (max-width: 39.9375em) { 
.swiper-slide .card .card-image{
height:200px;
}
}

.card-header {
  margin-top: 1.5rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

  .card-header a {
      font-weight: 600;
      font-size: 1.375rem;
      line-height: 1.25;
      padding-right: 1rem;
      text-decoration: none;
      will-change: transform;
      color: var(--clr-purp);

  }

  .card-header p{
      font-size: var(--fs-6);
      font-weight:  var(--fw-bold);
      color: var(--clr-dark);
      text-transform: uppercase;
  }


  

      .card-header a:after {
          content: "";
          position: absolute;
          left: 0;
          top: 0;
          right: 0;
          bottom: 0;
      }

.icon-button {
  border: 0;
  background-color: #fff;
  border-radius: 50%;
  width: 2.5rem;
  height: 2.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
  font-size: 1.25rem;
  transition: 0.25s ease;
  box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.05), 0 3px 8px 0 rgba(0, 0, 0, 0.15);
  z-index: 1;
  cursor: pointer;
  color: #565656;
}

  .icon-button svg {
      width: 1em;
      height: 1em;
  }

  .icon-button:hover,
  .icon-button:focus {
      background-color: var(--clr-pri-400);
      color: #FFF;
  }

.card-footer {
  margin-top: 1.25rem;
  /* border-top: 1px solid var(--purple1); */
  padding-top: 1.25rem;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}

.card-meta {
  display: flex;
  align-items: center;
  color: #787878;
}

  .card-meta:first-child:after {
      display: block;
      content: "";
      width: 4px;
      height: 4px;
      border-radius: 50%;
      background-color: currentcolor;
      margin-left: 0.75rem;
      margin-right: 0.75rem;
  }

  .card-meta svg {
      flex-shrink: 0;
      width: 1em;
      height: 1em;
      margin-right: 0.25em;
  }

.card-grid {
  max-width: 1200px;
  margin: 12px auto;
}

.card-grid {
  display: flex;
  flex-wrap: wrap;
}

.card-list {
  width: calc(33.33% - 30px);
  margin: 15px;
}

@media (max-width: 1000px) {
  .card-list {
      width: calc(50% - 30px);
  }
}

@media (max-width: 600px) {
  .card-list {
      width: calc(100% - 30px);
  }
}



.button_e {
  font-size: var(--fs-6);
  font-weight:  var(--fw-semibold);
  color: var(--clr-pri-400) !important;
  border: none;
  background: #000;
  padding: 20px;
  text-transform: uppercase;
  border-radius: 6px;
  display: inline-block;
  transition: all 0.3s ease 0s;
}

  .button_e:hover {
      color: var(--clr-pri-400) !important;
      font-weight: 700 !important;
      letter-spacing: 3px;
      background: var(--clr-gray-500);
      -webkit-box-shadow: 0px 5px 40px -10px rgba(0, 0, 0, 0.57);
      -moz-box-shadow: 0px 5px 40px -10px rgba(0, 0, 0, 0.57);
      transition: all 0.3s ease 0s;
  }

  
  .enav ul {
    background-color: #000;
    list-style: none;
    padding:0 25px;
    margin: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.enav ul li {
    width: calc(50% - 10px); /* Each <li> takes 50% width minus some space */
    max-width: 200px; /* Set a maximum width for each <li> */
    padding: 4px;
    margin-bottom: 5px;
    display: block;
    border-radius: 3px;
}

.enav ul .cart_link li {
    width: auto; /* Adjust width for cart_link */
    max-width: none; /* Reset max-width for cart_link */
}

.enav ul li:hover:not(.cart_link), .enav ul li a.active:not(.cart_link) {
    background: var(--clr-dark); /* Apply hover style except for cart_link */
}

.enav a {
    width: 100%;
    padding:4px;
    display: block;
    border-radius: 3px;
    transition: background 0.1s ease-in-out;
    font-weight: bold;
    font-size: 14px;
    color: var(--clr-gray-400);
    letter-spacing: 1.2px;
    position: relative;
    display: flex;
    align-items: center;
    z-index: 30;
}

.enav li a.active {
    color: var(--clr-purp);
}

.enav li a.active svg {
    fill: var(--clr-pri-400) !important;
}

.enav ul li a .svg-space {
    width: 60px;
}

.enav ul li a .svg-space svg {
    width: 40px;
    height: 40px;
    margin-bottom: -12px;
    fill: var(--clr-gray-400);
}

.enav ul .cart_link a svg {
    fill: var(--clr-purp);
    width: 30px;
    height: 30px;
}


/* Additional styling for responsive design */
@media (max-width: 768px) {
    .enav ul {
        flex-wrap: wrap; /* Allow for wrapping on mobile */
    }

    .enav ul li {
        width: 50%; /* Half width on mobile for 2 items per row */
        max-width: none; /* Reset max-width for mobile */
        margin-right: 0; /* Remove margin-right for mobile layout */
    }

    .enav ul .cart_link li {
        width: auto; /* Adjust width for cart_link */
        max-width: none; /* Reset max-width for cart_link */
    }
}